{% load static %}

<head>

    <!--  Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Sometype+Mono:wght@700&display=swap" rel="stylesheet">

    <!--  Tailwind CSS  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                container: {
                    center: true,
                },
            },
        }
    </script>

    <!--  Custom CSS  -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Weathify - Your Forecast Hub in a Snap!</title>

</head>

<body>

    <div class="container flex flex-col main">
        {% block content %}
        {% endblock %}
    </div>

</body>