.content {
    justify-content: space-between;
    flex-direction: column;

}

.main-content {
    height: 100%;
    justify-content: space-between;
}

.sm-content {
    justify-content: space-between;
}

.sm-text {
     /* Лишнее, цвет можно задать классом в HTML
     И если уж на то пошло, то просто color: #24292F*/
    color: var(--Dark, #24292F);
    /* Семейство шрифтов указано глобально, оно автоматически будет применятся везде */
    font-family: Montserrat;
    /* Размер шрифта так же можно задать классом в HTML */
    font-size: 40px;
    /* Лишнее */
    font-style: normal;
    /* Классом в HTML */
    font-weight: 400;
    /* Лишнее */
    line-height: normal;
}

.line {
    border: none;
    background-color: black;
    height: 1px;
    margin-top:14px;
    margin-bottom:46px;
}

.input-tx {
    margin-top:75px;
    /* Ширина в таком случае не будет резиновой, потому что мы жестко задали значение */
    width:752px;
    height:63px;
    background-color:#EDEDED;
    border-radius: 10px;
    outline:none;
}

.text-* {
    /* Лишнее, цвет можно задать классом в HTML
     И если уж на то пошло, то просто color: #24292F*/
    color: var(--Dark, #24292F);
    /* Семейство шрифтов указано глобально, оно автоматически будет применятся везде */
    font-family: Montserrat;
    /* Размер шрифта так же можно задать классом в HTML */
    font-size: 13px;
    /* Лишнее */
    font-style: normal;
    font-weight: 400;
    /* Лишнее */
    line-height: normal;
    align-self: center;
}

.content-tx {
   margin-top: 132px;
}

.border-tx {
    text-decoration: underline;
}
