.footer {
    margin-bottom: 10px;
    justify-content: space-between;
}

/* BRAND */

.brand {
    align-items: start;
}

.weathify-btn {
    margin-top: -6px;
    margin-left: 5px;
}

.logo-light-btn {
    margin-left: -6px;
}

/* COPYRIGHTS */

.copyrights {
    align-items: end;
}

.footer-git {
    margin-right: 13px;
}

.footer p {
    margin-top: 10px;
}