.header {
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
}

/* LOGO */

.home svg {
    transform-origin: right center;
    transform: scaleX(0);
    animation: revealFromRight 0.5s forwards 0.35s;
}

.home .weathify {
    transform: translateX(30%);
    animation: rightAnimation 0.5s forwards, opacityAnimation 0.5s;
}

.weathify {
    margin: -6px 0 0 5px;
}

.logo-light-text {
    margin-left: -10px;
}

/* SOCIAL NET.*/

.git {
    margin-right: 21px;
}