* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.main {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@keyframes revealFromRight {
  to {
    transform: scaleX(1);
  }
}

@keyframes rightAnimation {
    0% {
        transform: translateX(30%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}