{% load static %}

<link rel="stylesheet" href="{% static 'css/content.css' %}">

{% block page_content %}

    <div class="content flex flex-col">
        <div class="sm-content flex">
            <img class="main-img" src="{% static 'img\main.png' %}" alt="lorem">
            <div class="main-content flex flex-col">
                <div>
                    <h1 class="text-5xl font-medium text-black">Your Forecast Hub in a Snap! :)</h1>
                    <hr class="line" style="margin-top: 15px">
                </div>
                <div class="faq">
                    <h1 class="faq-tx sm-text text-4xl font-normal text-black">How it works?</h1>
                    <h1 class="faq-info text-2xl text-slate-800">✏️Just start writing the name of a city, country or state<br>
                        🙏Be a little patient, we need to process your request<br>
                        🏙️Get all information about the current weather in the selected<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;region</h1>
                </div>
                <input type="text" class="input-tx" placeholder= "City, Country or State">
            </div>
        </div>
        <div class="content-tx">
            <h1 class="text-sm text-slate-500">*We collect and process weather data from different sources such as global and local weather models,<br>
            satellites, radars and a vast network of weather stations (<a href="https://openweathermap.org/api">OpenWeather</a>)</h1>
            <hr class="line" style="margin-top: 5px">
        </div>
    </div>

{% endblock %}
